## Replace with your db credentials
DB_URL="host=localhost user=postgres password=postgres dbname=postgres port=5432 sslmode=disable"

## 
SECRET_KEY=
NEXTAUTH_SECRET=

## Keystore password and public address
PASSWORD=
Admin=

## For test scripts
ADMIN_TOKEN=
USER_TOKEN=
